*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 50%;
}
.link-parent{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.emty{
    background-color: green;
    width: 160px;
    border: 1px solid black;
}
.side-parent{
    background-color: orange;
    width: 30%;
    height: 600px;
    text-align: center;
}
.side{
    border: 1px solid black;
    padding: 13.08px;
}
.big{
    background-color: red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding-top: 55x;
}
.parent{
    display: flex;
}
.box{
    background-color: blueviolet;
    width: 150px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.link{
    border: 1px solid black;
    height: 20px;
    width: 160px;
    text-align: center;
}
